.m-order-detail {
    background-color: #eee;
}

.font-30 {
    font-size: 30px;
}
.font-38 {
    font-size: 38px;
}
.font-32 {
    font-size: 32px;
}

.font-28 {
    font-size: 28px;
}

.font-26 {
    font-size: 26px;
}
.font-24 {
    font-size: 24px;
}
.font-40{
    font-size:40px;
}
.color-333 {
    color: #333;
}
.color-fff {
    color: #fff;
}
.color-167{
    color: #F16700;
}
.color-666 {
    color: #666;
}

.font-bold{
    font-weight:bold;
}
.bg-color-fff {
    background-color: #fff;
}
.bg-color-167{
    background-color:#F16700;
}
.flex-direction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.info-1 {
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    margin-bottom: 16px;
}

.info-1 .base-info .name {
    font-size: 40px;
    font-weight: bold;
}

.info-1 .base-info .phone {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 26px;
}

.info-1 .base-info .phone .icon-phone {
    width: 24px;
    height: 40px;
    margin-right: 20px;
}

.line {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
}

.info-1 .base-info .contact {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.info-1 .base-info .contact.btn-iphone {
    right: 128px;
}

.info-1 .base-info .contact.btn-sms {
    right: 40px;
}

.info-1 .demand {
    padding-top: 24px;
}

.info-1 .shop-status {
    margin-top: 24px;
}

.info-1 .demand .item.row2 {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aptitude {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 18px;
}

.aptitude .item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 218px;
    height: 72px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 0.50);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
    border-radius: 2px;
    margin-bottom: 24px;
}

.aptitude .item .icon {
    width: 42px;
    height: 34.5px;
    margin-left: 20px;
    margin-right: 20px;
}

.info-2 {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 8px;
}

.info-2 .item {
    padding-top: 18px;
    padding-bottom: 18px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
}

.shopping {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform:translateY(-20%);
}

.shopping .order-status {
    background: #F9F9F9;
}

.shopping .order-status .item {
    width: 50%;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}
.shopping .order-status .item .icon{
    width:40px;
    height:40px;
    margin-left:40px;
    margin-right:24px;
}
.shopping .price-shop{
    height:124px;
}
.shopping .price-shop .item{
    align-items:center;
    justify-content: center;
}